<?xml version="1.0" encoding="utf-8" standalone="no"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" android:sharedUserId="com.teamlava.castlestory" package="com.teamlava.castlestory" platformBuildVersionCode="24" platformBuildVersionName="7.0">
    <application android:debuggable="true" android:icon="@drawable/icon" android:label="@string/app_name" android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        <activity android:clearTaskOnLaunch="true" android:configChanges="locale|keyboardHidden|orientation|screenSize" android:label="@string/app_name" android:launchMode="singleTask" android:name=".Main" android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <meta-data android:name="show_spinner" android:value="false"/>
        <meta-data android:name="loop_loading_text" android:value="true"/>
        <meta-data android:name="show_loading_text" android:value="true"/>
        <meta-data android:name="top_align_loading_text" android:value="true"/>
        <meta-data android:name="loading_text" android:value="Scattering Glimmerdust...,Brewing Potions...,Brushing the Alicorns...,Climbing the Watchtower...,Beating up Skunkupines...,Cleaning the Stables...,Grooming the Dragons...,Waking Old Thomas..."/>
        <meta-data android:name="market_source" android:value="androidmarket"/>
        <meta-data android:name="enable_iap" android:value="true"/>
        <provider android:authorities="zzzz6f4f46dd8ddd26a2ace92b5a8ca640fd.VFSProvider" android:exported="false" android:multiprocess="true" android:name="com.ideaworks3d.marmalade.VFSProvider"/>
        <receiver android:name="com.marmalade.studio.android.gcm.s3eGCMClientBroadcastReceiver" android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
                <category android:name="com.teamlava.castlestory"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.REGISTRATION"/>
                <category android:name="com.teamlava.castlestory"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.marmalade.studio.android.gcm.s3eGCMClientLocalReceiver" android:process=":remote"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name="com.facebook.LoginActivity" android:screenOrientation="landscape"/>
        <activity android:name="com.ideaworks3d.marmalade.s3eAndroidGooglePlayBilling.PurchaseProxy"/>
        <service android:exported="false" android:name="com.teamlava.base.CrashReporterService"/>
        <activity
            android:name="zj.zfenlly.gua.OverActivity"
            android:screenOrientation="landscape"></activity>
        <service android:name="zj.zfenlly.gua.FloatWinService"></service>
        <receiver android:name="zj.zfenlly.wifi.WifiChangeReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>
        <meta-data android:name="com.google.android.gms.games.APP_ID" android:value="@string/gps_app_id"/>
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"/>
    </application>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.BATTERY_STATS"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.SET_ORIENTATION"/>
    <uses-permission android:name="android.permission.DEVICE_POWER"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="com.android.vending.CHECK_LICENSE"/>
    <uses-permission android:name="com.android.vending.BILLING"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <permission android:name="com.teamlava.castlestory.permission.C2D_MESSAGE" android:protectionLevel="signature"/>
    <uses-permission android:name="com.teamlava.castlestory.permission.C2D_MESSAGE"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <uses-permission android:name="com.google.android.c2dm.permission.REGISTRATION"/>
    <supports-screens android:anyDensity="true" android:largeScreens="true" android:normalScreens="true" android:smallScreens="false" android:xlargeScreens="true"/>
    <uses-permission android:name="com.android.vending.BILLING"/>
</manifest>
