<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>Castle Story</string>
	<key>ApteligentAppID</key>
	<string>ab91d17929ae4b65a3ecc9e125b36d3d00555300</string>
	<key>CFBundleExecutable</key>
	<string>CastleStory</string>
	<key>CFBundleIconFile</key>
	<string>icon.png</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>icon.png</string>
		<string>icon_hd.png</string>
		<string>icon_os4.png</string>
		<string>icon_hd@2x.png</string>
		<string>ios7_icon.png</string>
		<string>ios7_icon_hd.png</string>
		<string>ios7_icon@2x.png</string>
		<string>ios7_icon_hd@2x.png</string>
	</array>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>icon.png</string>
				<string>icon_hd.png</string>
				<string>icon_os4.png</string>
				<string>icon_hd@2x.png</string>
				<string>ios7_icon.png</string>
				<string>ios7_icon_hd.png</string>
				<string>ios7_icon@2x.png</string>
				<string>ios7_icon_hd@2x.png</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<true/>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>com.teamlava.castlestory</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>{PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.7</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLIconFile</key>
			<string></string>
			<key>CFBundleURLName</key>
			<string>com.teamlava.castlestory</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>teamlava-castle-story</string>
				<string>fb407955025936009pointszero</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>378766</string>
	<key>FacebookAppID</key>
	<string>407955025936009</string>
	<key>FacebookUrlSchemeSuffix</key>
	<string>pointszero</string>
	<key>FacebookDisplayName</key>
	<string>Castle Story</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSMainNibFile</key>
	<string>MainWindow</string>
	<key>S8ShortName</key>
	<string>castle</string>
	<key>UIAppFonts</key>
	<array>
		<string>sheep_sans.ttf</string>
		<string>sheep_sans_bold.ttf</string>
		<string>Designosaur-Regular.otf</string>
		<string>Titania-Regular.ttf</string>
	</array>
	<key>UIInterfaceOrientation</key>
	<string>UIInterfaceOrientationLandscapeRight</string>
	<key>UILaunchImageFile~ipad</key>
	<string>default_hd.png</string>
	<key>UILaunchStoryboardName</key>
	<string></string>
	<key>UIPrerenderedIcon</key>
	<true/>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
	</array>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This app requires access to the photo library.</string>
</dict>
</plist>
